
<div>
    <div class="container text-center my-4">
        <h2>Welcome to LuxeLotion</h2>
    </div>

    <div class="container text-center my-4">
        <img src="~/image/lotion1.webp" alt="Lotion image" class="img-fluid" width="500" height="400">
        <p>Image <a href="https://www.etsy.com/listing/491544590/n-27-u-unscented-body-lotion" target="_blank">Source</a></p>
    </div>

    <div class="container text-center my-4">
        <p>Click to go to <a asp-area="" asp-controller="Lotions" asp-action="Index" class="btn btn-primary">Product Catalogue Page</a></p>
    </div>
</div>