@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to LuxeLotion</h2>

    <img src="~/image/lotion1.webp" alt="Lotion image" width="500" height="400" /> 
    <p>Image <a href="https://www.etsy.com/listing/491544590/n-27-u-unscented-body-lotion" target="_blank">Source</a></p>

    <h3>Click to go to <a href="">Product Catalogue Page</a>.</h3>
</div>
